  #footer {
    text-align: center;
    font-family: 'Courier new';
    transition: margin-left 0.5s;
    padding: 16px;  
  }
#yritys {
  text-align: center;
  font-family: 'Courier new';
  transition: margin-left 0.5s;
  padding: 16px;
  right: 50px;
}
  body {
  font-family: "Courier new";
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  color: black;
  font-size: 36px;
  background-color: #3A913C;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  outline-style: outset;
  outline-color: #3A913C;
}

.sidenav a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Courier New';
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  position: fixed;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
#yritys {
  transition: margin-left .5s;
  padding: 16px;
}
#tuotteet {
  transition: margin-left .5s;
  padding: 16px;
}
#hinnasto {
  transition: margin-left .5s;
  padding: 16px;
}


h2
{ 
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier new';

}

h3 {
  font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier new';
}
h4 {
  font-size: 1.25em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier new';
}
p
{
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier new';

}

#banner {
  text-align: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: margin-left .5s;
}

.left {
  float: left;
  width: 20%;
}
