#footer {
  text-align: center;
  font-family: 'Courier new';
  transition: margin-left 0.5s;
  padding: 16px;  
  background-color: #b9db8f;
}

#footer img {
  width: 30px;
  height: 30px;
  margin-left: .1em;
  margin-right: .1em;
}

body {
  font-family: 'Open sans';
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  color: black;
  font-size: 36px;
  background-color: #b9db8f;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  outline-style: outset;
  outline-color: #b9db8f;  
}

.sidenav a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Courier New';
  color: black;
  display: block;
}

.sidenav a:hover {
  color: black;
  font-weight: bold;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 30px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  border-bottom: #b9db8f;
  border-bottom-style: double;
}

.clearfix {
  overflow-y: auto;
}

.img1 {
  float: right;
}

#yritys {
  text-align: center;
  font-family: 'Courier new';
  transition: margin-left 0.5s;
  padding: 16px; 
  border-bottom: #b9db8f;
  border-bottom-style: double;
}

#hinnasto {
  text-align: center;
  font-family: 'Courier new';
  transition: margin-left 0.5s;
  padding: 16px; 
  border-bottom: #b9db8f;
  border-bottom-style: double;
}

#tuotteet {
  text-align: center;
  font-family: 'Courier new';
  transition: margin-left 0.5s;
  padding: 16px; 
  border-bottom: #b9db8f;
  border-bottom-style: double;
}

h2
{ 
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway';
}

h3 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Courier new';
}

h4 {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Courier new';
}

p {
  font-size: 1em;
  margin: 0;
  padding: 16px;
  text-align: center;
  font-family: 'Courier new';
}

#banner {
  text-align: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: margin-left .5s;
}

.left {
  float: left;
  width: 20%;
}
